{% extends "blog/base.html" %}
{% block content %}
    {% for comment in comments %}
     <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ comments.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2 text-dark" href="#">{{ comment.author }}</a>
            <small class="text-muted">{{ comment.date_posted }}</small>
          </div>
          <p class="article-content">{{ comment.content }}</p>
        </div>
      </article>
    {% empty %}
      No comments yet
    {% endfor %}
{% endblock content %}
    